@import 'varibles.css';

.page {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vh 5vw;
    /* gap: 10vw; */
}
.page__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    gap: 10px;
}
.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 60vh;
    border-radius: 10px;
}
.slider__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 6px;
}
.slider__menu span {
   display: block;
   content:'' ;
   width: 50px;
   height: 4px;
   background-color: rgb(254,254,254,.1);
   border-radius: 10px;
   cursor: pointer;

   transition: all .3s linear;
}
.slider__menu span:hover {
    background-color: rgb(254,254,254,.3);
}
.activate {
    z-index: 1;
    background-color: var(--white)  !important;
}
.page__left {
    width: 100%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.page__left form {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 6px;
}
.page__left::before {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: rgb(32, 8, 26, .8);
    z-index:-1;
    border-radius: 100%;
    box-shadow: 10px 10px 100px 100px rgb(32, 8, 26, .8);
}
.page__left::after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 30%;
    right: 30%;
    border-radius: 100%;
    z-index: -1;
    background-color: rgb(120, 36, 52, .5);
    box-shadow: 10px 10px 100px 100px rgb(120, 36, 52, .5);
}
.page__left form h2 {
    font-family: var(--KolkerBrush);
    font-size: 64px;
}
.form__field {
    width: 100%;
    position: relative;
    margin-bottom: 14px;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.form__field label {
    color: rgb(254,254,254,.3);
    font-size: 16px;
}
.page__left form p {
    color: rgb(254,254,254,.5);
    font-size: 16px;
    margin: 10px 0;
}
.page__left form p a {
    color: rgb(254,254,254,.5);
}
.form__field input {
    background-color: transparent;
    padding: 10px;
    position: relative;
    font-size: 18px;
    font-family: var(--Inter);
    width: 100%;
    color: var(--white);
    /* border-bottom: 2px solid var(--light-gray); */
}
.form__field span {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    background-color: rgb(254,254,254,.3);
    transition: all .3s linear;
}
.form__field span::after {
    display: block;
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    background-color: rgb(254,254,254,1);
    transition: all .3s linear;
}
.form__field input:hover + span {
    background-color: rgb(254,254,254,.5);
}
.form__field input:focus + span::after {
    width: 100%;
}