@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kolker+Brush&display=swap');

:root {
    --white: #fff;
    --light-gray: #cdcdcd;
    --black: #000;
    --primary: #0A0A0A;
    --dark-primary: #070707;
    --light-primary: #202020;
    --orange: #BE4929;
    --darkblue: #1D0818;
    --brown: #832C2D;
    --purple: #782434;
    --yellow: #FCF4C4;
    
    --Inter: 'Inter', sans-serif;
    --KolkerBrush: 'Kolker Brush', cursive;
}
