{% include 'main.html' %}
{% load static  %}

{% block title %}
<title>Home</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock title %}

{% block content %}
<div class="page">
    <div class="page__header">
        <a>
            <span class="material-symbols-outlined">
                add
            </span>
        </a>
        <a href="/settings">
            <span class="material-symbols-outlined">
                settings
            </span>
        </a>
        <a href="/sign-out">
            <span class="material-symbols-outlined">
                logout
            </span>
        </a>
    </div>
    <div class="page__content">
        <div class="page__content__header">
            <a id="Create-Project-Button">
                <span class="material-symbols-outlined">
                    add
                </span>
                Add A New Project
            </a>
            <select name="" id="">
                <option value="" disabled selected>Sorting...</option>
                <option value="title">Title</option>
                <option value="created">Time of creation</option>
                <option value="created">Update time</option>
            </select>
        </div>
        <div class="page__content__projects"></div>
    </div>
    <div class="create__project__window" style="display: none; opacity: 0;">
        <form action="" method="post" id="Create-Project-Form">
            {% csrf_token %}
            <span class="material-symbols-outlined" id="Close-Project-Form">
                close
            </span>
            
            <h2>Create A New Project</h2>
            
            <div class="form__field">
                <label for="">Title:</label>
                <input type="text" name="title" placeholder="Enter project title..." required />
                <span></span>
            </div>

            <button class="btn">Continue</button>
        </form>
    </div>
</div>
<script src="/static/js/index.js"></script>
{% endblock content %}